- content_for :title do
  Generations Hair Salon
= nav_at 'Home'

.home
  %section.hero
    %ul.hero-slider
      %li.hero1
        %p One
      %li.hero2
        %p Two
      %li.hero3
        %p Three
      %li.hero4
        %p Four



    / .hero-left
    / .hero-right
    /   #typed-strings
    /     %p Experienced Stylists
    /     %p Full color services.
    /     %p Make-up and Nail Services.
    /     %p Relaxing Atmoshphere
    /   %h1
    /     Generations
    /   %h2
    /     %span#typed

  .container
    %ul.tiles
      / %li.t-col.w-1-2.m-1-1
      /   .pitch
      /     = link_to '', class: 't-block hoverable' do
      /       %span.off-screen Links to program descriptions.
      /       .t-content
      /         %h2 Change your life, have fun along the way.
      /         %br
      /         %p Top tech companies in Florida pay an average salary of:
      /         %h3 $83,210 to $137,270
      /         %cite
      /           Source: Robert Half 2016 Salary Guide for Technology Professionals, WPB area for Ruby on Rails
      /           -# %a{href: 'https://www.roberthalf.com/sites/default/files/Media_Root/images/rht-pdfs/robert_half_technology_2016_salary_guide.pdf', target: '_blank'} Robert Half 2016 Salary Guide for Technology Professionals
      /         %br
      /         %br
      /         %br
      /         %br
      /         %h2 Learn about us and how we can help you get there.
      /       .t-more +

      %li.t-col.w-1-2.m-1-1
        .backend-program
          = link_to stylists_path, class: 't-block hoverable h-16x9' do
            %span.off-screen Links to Facilities.
            .t-content
              %h2 Stylists
            .t-more +
        .faq
          = link_to services_path, class: 't-block hoverable h-16x7' do
            %span.off-screen Links to FAQs.
            .t-content
              %h2 Services
            .t-more +

      %li.t-col.w-1-2.m-1-1
        .web-dev-program
          = link_to gallery_path, class: 't-block hoverable h-16x9' do
            %span.off-screen Links to Web Development Immersive course description.
            .t-content
              %h2 Gallery
            .t-more +
        .other-programs
          .t-block.h-16x7
            = link_to products_path, class: 't-n-block hoverable summer-program' do
              .t-n-content
                %span.off-screen Links to Summer of Code course description.
                %h3 Products
              .t-more +
              = link_to faq_path, class: 't-n-block hoverable launch-program' do
                .t-n-content
                  %span.off-screen Links to Launch Program descriptions.
                  %h3 F.A.Q
                .t-more +

    %section.about
      %h2 ABOUT US
      %p At Generations, our desire is to bring back the art of hairdressing that has been lost in today's fast paced, multitasking spas.

      %p From the moment you enter Generations we want your trust. Trust, that as artists who take pride in every detail of our work, you'll leave looking and feeling your very best and anticipating your next visit.

      %p Our name demonstrates great pride in our profession as we have several family generations working here; passing knowledge from one to the next.

      %p We are a small group of passionate and highly educated artists. Our philosophy is "Always start with the perfect consultation". This is our opportunity to know and understand what you really want. We never impose the latest trends on our clients but only what they feel comfortable with.

      %p Generations stylists and colorists are experienced in all areas of our industry from color correction and Balayage to up-do's and editorial work.

      %p So whether you're searching for the classic look of old Hollywood or the dramatic styles of today's runways, we know you'll find the right look at Generations!!
