- content_for :title do
  Products
= nav_at 'Products'

.products
  %section.hero
    %h1 Products

  .container

    %ul.tiles
      %li.t-col.w-1-1.m-1-1
        .product1
          = link_to '', class: 't-block hoverable h-16x9 kiwi' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product1
            .t-more +
      %li.t-col.w-1-1.m-1-1
        .product2
          = link_to '', class: 't-block hoverable h-16x9 green' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product2
            .t-more +
      %li.t-col.w-1-1.m-1-1
        .product3
          = link_to '', class: 't-block hoverable h-16x9 dark-green' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product3
            .t-more +
      %li.t-col.w-1-1.m-1-1
        .product4
          = link_to '', class: 't-block hoverable h-16x9 forest-green' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product4
            .t-more +
      %li.t-col.w-1-1.m-1-1
        .product5
          = link_to '', class: 't-block hoverable h-16x9 med-gray' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product5
            .t-more +
      %li.t-col.w-1-1.m-1-1
        .product6
          = link_to '', class: 't-block hoverable h-16x9 dark-gray' do
            %span.off-screen Links to Product.
            .t-content
              %h2 Product6
            .t-more +
